.layouts {
  width: 40em;
  margin-top: 0.1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    margin-top: 0.8em;
    margin-bottom: 0.3em;
    font-size: var(--text_xl);
  }
  .description {
    font-size: var(--text_tiny);
    max-width: 42ch;
    text-align: center;
  }
  .passphrase {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    // min-width: 90%;
    margin: 1em;
    .input {
      display: flex;
      flex-direction: row;
      .index {
        margin-right: 0.1em;

        // align-self: center;
      }
      .wordinputfield {
        min-height: 2em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        max-width: 80%; //min-width: 9ch;
        .content {
          margin-left: 3%;
        }
      }
    }
  }

  .extraWord {
    align-self: flex-start;
    margin-left: 2em;
    .extraWordSwitch {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .extraWordLabel {
      margin-right: 0.8em;
    }
    .extraWordInput {
      max-width: 10em;
      max-height: 3em;
      margin-top: 0.8em;
      margin-bottom: 0.8em;
    }
  }

  .button {
    margin-left: 20em;
    min-width: 10em;
  }
}
