.container {
  .status {
    display: flex;
    justify-content: space-between;
    * {
      font-size: var(--text_base);
    }
  }
  .votes {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-bottom: 2em;
    .voteCount {
      display: flex;
      min-width: 12em;
      justify-content: space-between;
      align-items: center;
      // padding: 1em;
      border: 1px solid var(--gray_500);
      min-width: 46% !important;
      height: 5em;
      border-radius: 7px;
      * {
        font-size: var(--text_base);
      }
    }
    .voteAganist {
      border-color: #1677ff;
    }
    .voteFor {
      border-color: #52c41a;
    }
  }
}
